.navbar {
  background-color: grey;
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding: 0.5em;
  margin: 0;
}

.navbar a {
  text-decoration: none;
  font-weight: bold;
  color: #303030;
  cursor: pointer;
}

.login-form {
  display: grid;
  grid-gap: 0.25em;
  padding: 0.5em;
}

.login-form input {
  padding: 0.25em;
  font-size: 16pt;
}
